@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: rgb(20, 20, 20);
  color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.App-header h1 {
  position: relative;
  z-index: 2;
}

.App-header img {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100vh;
  opacity: 0.5;
  z-index: 0;
}

@media screen and (max-width: 1080px) {
  .App-header img {
    left: 25%;
  }
}

@media screen and (max-width: 680px) {
  .App-header img {
    left: 0;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 320px;
  height: 320px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 320px;
  height: 320px;
  margin: 8px;
  border-radius: 50%;
  border: 10px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
